{
    "presets": [
        "es2015",
        "stage-2"
    ],
    "comments": false,
    "plugins": [
        [
            "babel-plugin-transform-builtin-extend",
            {
            "globals": [
                    "Error",
                    "Array"
                ]
            }
        ]
    ]
}